@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.navbar.show {
  transform: translateY(0);
}

.navbar.hide {
  transform: translateY(-100%);
}

.content {
  padding-top: 60px;
}