@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #333;
  color: #fff;
  transition: transform 0.3s ease-in-out;
  /* Add transition for smoother hide/show */
  z-index: 1000;
}

.navbar.show {
  transform: translateY(0);
  /* Show navbar */
}

.navbar.hide {
  transform: translateY(-100%);
  /* Hide navbar */
}

.content {
  padding-top: 60px;
  /* Add padding equal to navbar height */
}